body{
    background-color: rgb(224, 204, 204);
}
header{
    background-color: rgb(131, 131, 235);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
h1 {
    font-weight: 800;
    font-style: oblique;
    background-color: black;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    
}
header p {
    font-style: oblique;
    font-weight: 500;
}
.student-form {
    background-color: bisque;
    border-radius: 20px;
    display: none;
    width: 800px;
    margin: 30px auto;
    padding: 20px;
    flex-wrap: wrap;
}
.student-form h2 {
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.student-form label {
    display: block;
    margin: 10px;
    display: block;

}
.student-form input,.student-form select {
    width: 500px;
    height: 35px;
    border-radius: 10px;
    display: block;
}
.student-form input:hover,.student-form select:hover {
    border-color: rgb(63, 63, 233);
    
}
.student-form button {
    border-radius: 5px;
    padding: 10px;
    margin: 30px;
    display: block;
}
.student-form button:hover {
    background-color: rgb(61, 224, 61);
    transition: 1s;
    transform: translateY(-5px);
}
.main-nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
.main-nav li {
    display: inline-block;
    margin-right: 10px;
    
}
.main-nav {
    margin: 0px;
    padding: 20px;
    border-radius: 20px;
    justify-content: flex-end;
    display: flex;
    background-color: rgb(178, 115, 236);
    
}
.main-nav a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: burlywood;
    color: white;
    border-radius: 10px;
    text-align: right;
    
}
.btn {
    background-color: rgb(180, 180, 240);
    padding: 5px;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    width: fit-content; 
    margin: 20px;
    display: inline-block;
}

#academics {
    background-color: grey;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    

}
#academics ul {
    color: black;
    text-align: left;
    margin: auto;
    width: fit-content;
}
#academics h2 {
    font-style: oblique;
    color: white;
}

.about {
    background-color: rgb(200, 126, 223);
    padding-left: 20px;
    border-radius: 30px;
}
.about h2 {
    text-align: center;
    font-style: oblique;
    color: white;
}
.about p {
    color: black;
}
.contact {
    text-align: center;
    background-color: rgb(86, 224, 86);
    
}
.contact h2 {
    font-style: oblique;
    color: white;
}
.site-footer p {
    background-color: rgb(189, 189, 233);
    
}
img {
    width: 800px;border-radius: 30px;
    height: 500px;
    margin: 0 auto;
    display: block;
}
.hero {
    text-align: center;
    background-color: rgb(102, 102, 175);

    
}
.hero h2 {
    font-style: oblique;
    color: white;
}
img {
    animation: moveUpDown 1s ease-in-out;

}
@keyframes moveUpDown {
    from{
        transform: translateY(-100%);
        opacity: 1;
      
    }
    to{
        transform: translateY(0);
        opacity: 0;
    }

}
img {
    max-width: 100%;
    height: auto;
}

.form {
    background-color: rgb(127, 127, 230);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 15px;
    flex-direction: column;
}


.input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
}
.textarea {
    height: 30px;
    width: 300px;
    border-radius: 10px;
}
.btn2{
    margin-top: 20px;
    margin-left: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(104, 224, 104);
}
.student-details {
    display: none;

}
table,th,td {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    border-collapse: collapse;
      
}







